<div class="container-adress">
    <div class="row">
        <div class="col-xs-6">
            <select (change)="selectState($event.target.value)">
                <option value="null">Seleccione...</option>
                <option *ngFor="let item of states" [value]="item.id">{{item.nombre}}</option>
            </select>
        </div>
        <div class="col-xs-6">
            <!-- <select>
                <option value="null">Seleccione...</option>
                <option *ngFor="let item of states" value="item.id">{{item.nombre}}</option>
            </select> -->
        </div>
    </div>
    <label>Calle</label>
    <input type="text">
    <label>Numero</label>
    <input type="text">
    <div class="container-adress__button">
        <app-button [text]="'Guardar'" (clickButton)="saveAdress()"></app-button>
    </div>
</div>