// Brand
// Orange. Use for brand identification
$color-brand-200: #FEE4D9;
$color-brand-300: #FEC1A6;
$color-brand-400: #FE9E73;
$color-brand-500: #FE5000;
$color-brand-600: #CB4000;
$color-brand-700: #983000;
$color-brand-800: #7E2700;

// Grayscale
// Use for user interface variations
$color-grayscale-100: #FFFFFF;
$color-grayscale-200: #F2F2F2;
$color-grayscale-300: #DDDDDD;
$color-grayscale-400: #BBBBBB;
$color-grayscale-500: #949494;
$color-grayscale-600: #767676;
$color-grayscale-700: #666666;
$color-grayscale-800: #333333;
$color-grayscale-900: #000000;

// Warning
// Yellow. Use for warning feedback
$color-warning-200: #FFF3DB;
$color-warning-300: #FFE4AB;
$color-warning-400: #FFD987;
$color-warning-500: #FFB30F;
$color-warning-600: #996B09;
$color-warning-700: #735006;
$color-warning-800: #5A3F05;

// Error
// Red. Use for error and danger feedback
$color-error-200: #FCE5E5;
$color-error-300: #F6B3B3;
$color-error-400: #F18080;
$color-error-500: #E40000;
$color-error-600: #C20000;
$color-error-700: #A00000;
$color-error-800: #880000;

// Success
// Green. Use for success and completion feedback
$color-success-200: #E6F8EA;
$color-success-300: #AAE8B8;
$color-success-400: #7ADB8F;
$color-success-500: #0EBF34;
$color-success-600: #098524;
$color-success-700: #075F1A;
$color-success-800: #054C14;

// Info
// Blue. Use for interface information and non critical feedback
$color-info-200: #E6EFFB;
$color-info-300: #BFD6F7;
$color-info-400: #72A5ED;
$color-info-500: #005DE0;
$color-info-600: #004AB3;
$color-info-700: #003786;
$color-info-800: #002E70;
