z-modal {
  display: none;

  .z-container-modal {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;

    &__body {
      background-color: #FFFFFF;
      border-radius: 4px;
      height: calc(100% - 32px);
      width: calc(100% - 32px);

    }
  }

  .z-modal-background {
    background-color: #000000;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 900;
  }
}

body.z-modal-open {
  overflow: hidden;
}
