/* You can add global styles to this file, and also import other style files */


@import "./app/shared/styles/colors";
@import "./app/shared/styles/variables";
@import "./app/shared/styles/typography";
@import "./app/shared/styles/spaces";
@import "./app/shared/styles/modals";
@import "./app/shared/styles/animations";
@import "./app/shared/styles/functions";
@import "./app/shared/styles/iconsFont";
@import "./app/shared/styles/vendor/flexboxgrid/flexboxgrid";